<div class="row" [ngClass]="darkmode ? 'row--dark' : 'row--light'" >
  <div class="row__banner" >
    <div class="row__banner-item">
      <img class="banner-item__image" src="assets/Cpu.png" />
      <div class="banner-item__title">Aplikacja na urządzenie IoT</div>
      <div class="banner-item__text">Aplikacja na Raspberry Pi z czytnikiem OBD</div>
      <a href="CarVisorIoT.zip"><div class="banner-item__download banner-item__download--iot">Pobierz</div></a>
      <a href="InstrukcjaIoT.pdf" target="_blank"><div class="banner-item__manual banner-item__manual--iot">Instrukcja obsługi</div></a>
    </div>
    <div class="row__banner-item">
      <img class="banner-item__image" src="assets/Terminal.png" />
      <div class="banner-item__title">Aplikacja serwerowa</div>
      <div class="banner-item__text">Aplikacja łącząca system IoT z aplikacją kliencką</div>
      <a href="CarVisorSerwer.zip"><div class="banner-item__download banner-item__download--teminal">Pobierz</div></a>
      <a href="InstrukcjaSerwer.pdf" target="_blank"><div class="banner-item__manual banner-item__manual--terminal">Instrukcja obsługi</div></a>
    </div>
    <div class="row__banner-item">
      <img class="banner-item__image" src="assets/Monitor.png" />
      <div class="banner-item__title">Aplikacja webowa</div>
      <div class="banner-item__text">Aplikacja do obsługi naszego systemu z poziomu przeglądarki</div>
      <a href="CarVisorWeb.zip"><div class="banner-item__download banner-item__download--web">Pobierz</div></a>
      <a href="InstrukcjaWeb.pdf" target="_blank"><div class="banner-item__manual banner-item__manual--web">Instrukcja obsługi</div></a>
    </div>
    <div class="row__banner-item">
      <img class="banner-item__image" src="assets/AndroidLogo.png" />
      <div class="banner-item__title">Aplikacja na systemy Android</div>
      <div class="banner-item__text">Aplikacja mobilna do obsługi systemu</div>
      <a href="CarVisor.apk"><div class="banner-item__download banner-item__download--android">Pobierz</div></a>
      <a href="InstrukcjaMobile.pdf" target="_blank"><div class="banner-item__manual banner-item__manual--android">Instrukcja obsługi</div></a>
    </div>
  </div>
</div>
