$font_gray: #C4C4C4;
$font_dark_gray: #474747;
$light_mode_background: #ffffff;

.row {
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: relative;

  .row__banner {
    position: absolute;
    top: 20%;
    left: 10rem;

    .row__banner-text {
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 4rem;
    }

    .row__banner-button {
      font-family: Manrope;
      font-style: normal;
      font-weight: 300;
      font-size: 1.2rem;
      padding: 1rem 1.5rem;
      background-color: #118AB2;
      border-radius: 1rem;
      cursor: pointer;
      color: $light_mode_background;
      position: absolute;
      right: 0;
      margin-top: 4rem;
    }
  }
}

.row--dark {
  .row__banner-text {
    color: $font_gray;
  }
}

.row--light {
  .row__banner-text {
    color: $font_dark_gray;
  }
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 16px;
  }
  .row__banner {
    position: relative !important;
    box-sizing: border-box;
    top: 0 !important;
    left: 0 !important;
    margin-top: 30%;
    width: 100%;
    padding: 5rem;
  }
  .row__banner-text {
    font-size: 3rem !important;
  }
  .row__banner-button {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}
